GROQ_API_KEY=

# optional: for evaluation. Make sure to restart the Docker infrastructure after setting this up.
OPENAI_API_KEY=

# optional: for evaluation and LLMOps. Make sure to restart the Docker infrastructure after setting this up.
COMET_API_KEY=